{% extends "./base_account.html" %}
{% block content %}

<div class="container">
    <h2>Emailingizga yuborilgan 6 xonali kodni kiriting!!</h2>
    <form method="post" class="card" style="width:  300px">
        {% csrf_token %}
        <input type="text" name="code" class="mb-4 text-center" placeholder="Code" required>
        <button type="submit" class="mt-4">Yuborish</button>
        <a href="{% url 'accounts:login' %}" class="text-center">Cancel</a>
    </form>
</div>

{% endblock content %}
